<!-- templates/index.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Property Sale Price Prediction</title>
</head>
<body>


<h3>Housing Prices Analysis and Pattern</h3>
<iframe title="dashboard ugo" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=1f7f6742-e73f-4656-82e6-f173932bdf82&autoAuth=true&ctid=57af78f2-c87d-4466-b7bb-6b6cc99ed124" frameborder="0" allowFullScreen="true"></iframe>

<h2>Enter Property Details</h2>

<form action="/predict" method="post">
    Gross Square Feet: <input type="text" name="gross_sqft"><br><br>
    Price Per Sqft: <input type="text" name="price_per_sqft"><br><br>
    Land Square Feet: <input type="text" name="land_sqft"><br><br>
    Borough: <input type="text" name="borough"><br><br>
    Block: <input type="text" name="block"><br><br>
    <input type="submit" value="Predict Sale Price">
</form>

{% if prediction_text %}
<h2>{{ prediction_text }}</h2>
{% endif %}

</body>
</html>
